{% extends 'base.html.twig' %}

{% block title %}Portfolioception{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1 class="text-center my-5 font-weight-bolder">Bienvenue sur Portfolioception</h1>

    <div>
        <p class="text-center my-4" style="font-size: 28px">
            Naviguez incognito pour voir les portfolios disponibles ou inscrivez vous pour créer le vôtre et le proposer au monde entier... !
        </p>
    </div>

    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center">
        <div>
            <div class="card bg-dark text-white">
                <img src="{{ asset('build/images/pexels-pixabay-207662.jpg') }}" class="img-fluid card-img" alt="Une étagère pleine de livres">
                <div class="card-img-overlay" style="vertical-align: bottom">
                    <h3 class="text-center" style="position: absolute; bottom: 0; text-shadow: 2px 2px 2px black; font-size: 45px">Qui n'a jamais rêvé d'avoir un endroit recensant tous les portfolios du monde?</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
