{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créez votre projet !</h1>

    <div class="container">
        {{ include('project/_form.html.twig') }}
    </div>
{% endblock %}
